<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Nick Robinson</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/home']">Home <span *ngIf="isActiveLink('/home')" class="sr-only">(current)</span></a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/projects']">Projects<span *ngIf="isActiveLink('/projects')" class="sr-only">(current)</span></a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/resume']">Resume<span *ngIf="isActiveLink('/resume')" class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
